<template name="editor">
  <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/mode-javascript.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/mode-html.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/mode-css.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/theme-monokai.js"></script>
  
  <div class="sidebar">
    <button class="button-primary">View Preview</button>
    {{> projectTree}}

    <div class="attribution">Icon made by <a href="http://www.coucouicons.com" title="Coucou">Coucou</a></div>
  </div>

  <div id="editor"></div>

  <div class="preview-wrapper hidden">
    <div class="preview-header">
      <img src="/img/browser-bar-left.png">
      <button>Close Preview</button>
    </div>
    <iframe src="" frameborder="0"></iframe>
  </div>
</template>