<template name="editor">
  <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/mode-javascript.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/mode-html.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/mode-css.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/theme-monokai.js"></script>
  <script src="//vex.min.js"></script>
  
  <div class="sidebar">
    <button class="button-primary">View Preview</button>
    {{> projectTree}}
  </div>

  <div id="editor"></div>

  <div class="preview-wrapper hidden">
    <div class="preview-header">
      <img src="/img/browser-bar-left.png">
      <button>Close Preview</button>
    </div>
    <iframe src="" frameborder="0"></iframe>
  </div>

  <script>
    vex.defaultOptions.className = 'vex-theme-default';
    switchingFiles = false;
    $(function() {
      editor = ace.edit("editor");
      editor.setTheme("ace/theme/monokai");
      editor.setShowPrintMargin(false);
      attachEmptyStyleSheet();

      editor.on("change", function(e) {
        if(!switchingFiles) {
          var content = editor.getSession().getValue();
          updateFileContent(content);
          updatePreview();
        }
      });

      // vex.dialog.confirm({
      //   message: 'Are you absolutely sure you want to destroy the alien planet?',
      //   callback: function(value) {
      //     return console.log(value ? 'Successfully destroyed the planet.' : 'Chicken.');
      //   }
      // });

      Tracker.autorun(function() {
        var file = getActiveFile();
        if(file && editor.getSession().getValue() != file.content) {
          switchingFiles = true;
          updateEditorContent(file);
          editor.fileType = getFileType(file);
          updatePreview && updatePreview();
          switchingFiles = false;
        }
      })

      function updateEditorContent(file) {
        editor.getSession().setMode("ace/mode/" + getFileType(file));
        editor.getSession().setValue(file.content);
      }

      function getFileType(file) {
        var i = file.name.lastIndexOf('.');
        return file.name.substring(i+1);
      }

      function getActiveFile() {
        return Files.findOne(Session.get("active_file"));
      }

      var updateFileContent = _.debounce(function(content) {
        var file = getActiveFile();
        file.content = content;
        Files.update(file._id, file);
      }, 300);

      var updateStyleSheet = _.debounce(function(content) {
        var doc = $('.preview-wrapper iframe')[0].contentWindow.document;
        var style = doc.createElement("style");
        style.textContent = content;
        // WebKit hack :(
        style.appendChild(doc.createTextNode(""));
        doc.head.appendChild(style);
        return style.sheet;
      }, 300);

      var updatePreview = _.debounce(function() {
        var doc = $('.preview-wrapper iframe')[0].contentWindow.document;

        var file = getActiveFile();
        var type = getFileType(file);
        if(type == 'html') {
          $('body', doc).html(file.content);
        } else if(type == 'css') {
          $('head', doc).find('style').text(file.content);
        }
      }, 300);

      function confirmOnPageExit(e)  {
        e = e || window.event;
        var message = 'All data is currently temporary and will be lost.';
        if (e) {
          e.returnValue = message;
        }
        return message;
      };
      // window.onbeforeunload = confirmOnPageExit;

      function attachEmptyStyleSheet() {
        var doc = $('.preview-wrapper iframe')[0].contentWindow.document;
        var style = doc.createElement("style");
        style.textContent = "";
        // WebKit hack :(
        style.appendChild(doc.createTextNode(""));
        doc.head.appendChild(style);
      }
    })
  </script>
</template>